@import "../../styles/abstracts/variables";

.additional-info {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  .container {
    width: 60%;
  }
  .movie-detail {
    color: $tertiary-color;
  }
  .title-description {
    color: $secondary-color;
  }
}
